
<div class="bg-white rounded-xl w-full p-4">
    <div class="flex justify-between items-center">
      <h1 class="text-lg font-semibold">Students</h1>
      <img src="../../../assets/public/moreDark.png" alt="" width=20px height=20px />
    </div>
    <div class="relative w-full h-[75%]">
        <canvas id="myPieChart"></canvas>
      <img
        src="../../../assets/public/maleFemale.png"
        alt=""
        width=50px
        height=50px
        class="absolute top-[90px] left-1/2 -translate-x-1/2 -translate-y-1/2"
      />
    </div>
   
  </div>
