.selected-date {
    background-color: #F1F0FF!important; /* Change to your desired color */
    color: white !important; /* Change text color if needed */
    border-radius: 50%; /* Optional: rounded appearance */
  }
  